body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.top-header{
  height: 30px;
  width: 100%;
  background-color: #3bbb90;
  font-weight: bold;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
}
.pointer{
  cursor: pointer;
}
.red{
  color: red;
}
.green{
  color: #4dc71f;
}
.top-header-item{
  display:inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}
a {
  color: #000;
  text-decoration: none;
}
