/* line 7, style.scss */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 10, style.scss */
.top-header {
  height: 30px;
  width: 100%;
  background-color: #3bbb90;
  font-weight: bold;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
}

/* line 21, style.scss */
.pointer {
  cursor: pointer;
}

/* line 24, style.scss */
.red {
  color: red;
}

/* line 27, style.scss */
.green {
  color: #4dc71f;
}

/* line 30, style.scss */
.top-header-item {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}

/* line 36, style.scss */
ul {
  list-style: none;
}

/* line 39, style.scss */
table {
  width: 100%;
}

/* line 43, style.scss */
th {
  background-color: #5cb85c;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
}

/* line 49, style.scss */
td {
  padding: 5px;
}

/* line 53, style.scss */
tr:hover {
  background-color: #abef98;
}

/* line 56, style.scss */
a:hover {
  color: cyan;
}

/* line 59, style.scss */
.right {
  float: right;
}

/* line 62, style.scss */
.left {
  float: left;
}

/* line 65, style.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 69, style.scss */
.top-header a {
  color: #fff;
}

/* line 72, style.scss */
.top-header a:hover {
  color: cyan;
}

/* line 75, style.scss */
.top-header-menu li {
  height: 30px;
  margin: 0 5px;
}

/* line 79, style.scss */
.top-header-menu li a {
  line-height: 30px;
}

/* line 82, style.scss */
#header {
  position: fixed;
  height: 75px;
  width: 100%;
  top: 30px;
  left: 0;
  background-color: #fff;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -ms-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
/* line 103, style.scss */
#header .logo {
  height: 75px;
  width: 225px;
  display: inline-block;
  /*border: 1px solid black;*/
  background: url(../images/Logo.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-transition: height 0.5s, width 0.5s;
  -moz-transition: height 0.5s, width 0.5s;
  -ms-transition: height 0.5s, width 0.5s;
  -o-transition: height 0.5s, width 0.5s;
  transition: height 0.5s, width 0.5s;
}
/* line 118, style.scss */
#header .header-menu {
  width: 550px;
  text-align: right;
}
/* line 122, style.scss */
#header .header-menu ul {
  margin: 30px 0 0 0;
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  -ms-transition-property: margin;
  -o-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
/* line 135, style.scss */
#header .header-menu ul li {
  margin: 0 5px;
  height: 25px;
  text-align: center;
  display: inline-block;
}
/* line 140, style.scss */
#header .header-menu ul li a {
  font-size: 16px;
  line-height: 25px;
  color: #000;
}
/* line 145, style.scss */
#header .header-menu ul li a:hover {
  color: cyan;
}

/* line 153, style.scss */
#header.min {
  height: 50px;
}

/* line 156, style.scss */
.min .logo {
  height: 50px;
  width: 150px;
}

/* line 161, style.scss */
.min .header-menu > ul {
  margin: 15px 0 0 0;
}

/* line 165, style.scss */
#main-search-form {
  margin: 30px 0 0 0;
  text-align: left;
  -webkit-transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -ms-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  transition: margin 0.5s;
}

/* line 175, style.scss */
.main-search-field {
  height: 30px;
  width: 500px;
  padding: 0 5px;
  border-radius: 7px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* line 184, style.scss */
.close-search {
  margin: 5px 0 0 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 30px;
  border: 1px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  vertical-align: bottom;
}

/* line 198, style.scss */
.min #main-search-form {
  margin: 5px 0 0 0;
}

/* line 201, style.scss */
.subheader {
  height: 200px;
  background: url(../images/green.png) repeat-x;
  margin: 105px 0 0 0;
}

/*========================== blog ============================*/
/* line 209, style.scss */
.article {
  width: 47%;
  height: 370px;
  display: inline-block;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  padding: 5px;
  margin: 0 10px;
}
/* line 216, style.scss */
.article .image {
  width: 100%;
  display: block;
}
/* line 220, style.scss */
.article .title {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  display: block;
}
/* line 228, style.scss */
.article .info {
  display: block;
  text-align: right;
  margin: 10px 0 0 0;
  padding: 5px 0 0 0;
  background-color: #ddd;
  height: 30px;
}
/* line 235, style.scss */
.article .info .date {
  text-align: left;
}
/* line 240, style.scss */
.article .info .tags ul li {
  display: inline;
  margin: 0 0 0 5px;
}
/* line 243, style.scss */
.article .info .tags ul li a {
  color: #761c19;
}
/* line 250, style.scss */
.article .content {
  display: block;
  text-overflow: ellipsis;
  height: 50px;
  overflow: hidden;
  text-align: justify;
}
