<div class="tabs-wrap">
    <div class="tabs">
        <ul>
            <li ng-click="pvCtrl.setTab('popular')">Popular</li>
            <li ng-click="pvCtrl.setTab('comments')">Comments</li>
            <li ng-click="pvCtrl.setTab('tags')">Tags</li>
        </ul>
    </div>
    <div class="tab-container" ng-show="pvCtrl.isTab('popular')">
        <ul>
            <li>
                <div class="popular">
                    <div class="title">Popular #1</div>
                    <div class="content">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недо</div>
                </div>
            </li>
            <li>
                <div class="popular">
                    <div class="title">Popular #2</div>
                    <div class="content">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недо</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="tab-container" ng-show="pvCtrl.isTab('comments')">

    </div>
    <div class="tab-container" ng-show="pvCtrl.isTab('tags')">

    </div>
</div>
